:root {
    --horizon-color-yellow-50: #fefce8;
    --horizon-color-yellow-100: #fef9c3;
    --horizon-color-yellow-200: #fef08a;
    --horizon-color-yellow-300: #fde047;
    --horizon-color-yellow-400: #f8cf2c;
    --horizon-color-yellow-500: #eab308;
    --horizon-color-yellow-600: #ca8a04;
    --horizon-color-yellow-700: #a16207;
    --horizon-color-yellow-800: #854d0e;
    --horizon-color-yellow-900: #713f12;
    --horizon-color-yellow-950: #422006;
}