:root {
    --horizon-font-family: "HarmonyOS_Regular", "DingTalk JinBuTi";
    --horizon-font-harmony: "HarmonyOS_Regular";
    --horizon-font-dingtalk: "DingTalk JinBuTi";
    --horizon-common-blur: 25px;
    --horizon-high-contrast-background-color: rgb(255, 255, 255);
    --horizon-high-contrast-text-color: rgba(0, 0, 0, 1);
    --horizon-high-contrast-hover-color: rgba(0, 0, 0, 1);
}

:root[class="dark"] {
    --horizon-high-contrast-background-color: rgb(0, 0, 0);
    --horizon-high-contrast-text-color: rgba(255, 255, 255, 1);
    --horizon-high-contrast-hover-color: rgba(255, 255, 255, 1);
}