:root {
    --horizon-nav-desktop-background-color: var(--horizon-color-yellow-400);
    --horizon-nav-background-color-black: #222222;
    --horizon-nav-background-color-white: #ffffff;
    --horizon-nav-background-color-black-rgba: rgba(0, 0, 0, 0.5);
    --horizon-nav-hover-color: #000;
    --horizon-nav-hover-color-white-rgba: rgba(255, 255, 255, 0.3);
    --horizon-nav-desktop-min-width: 5rem;
    --horizon-nav-desktop-max-width: 12rem;
}