# Nuxt配置
NUXT_SITE_URL=https://www.yourdomain.com
NUXT_SITE_NAME = Your Website Name
NUXT_APP_CDN_URL=/

# Horizon 配置
HORIZON_SITE_ENV="Production"
DOTENV_CONFIG_QUIET = true # 配置Dotenv是否安静模式

# 环境参数
VITE_APP_ENV='PROD'
VITE_APP_TITLE='Your Website APP'
